Repository Aeturnis-Development-Labs-LLC/ascendant, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Aeturnis-Development-Labs-LLC/maintainers, @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team, @Aeturnis-Development-Labs-LLC/documentation, @Aeturnis-Development-Labs-LLC/architects, @Aeturnis-Development-Labs-LLC/devops

.github/CODEOWNERS:

# CODEOWNERS for Ascendant: The Eternal Spire
# This file defines who is responsible for code reviews in different parts of the project

# Default owners for everything in the repo
* @Aeturnis-Development-Labs-LLC/maintainers

# Game source code
/src/ @Aeturnis-Development-Labs-LLC/game-developers

# Tests and quality assurance
/tests/ @Aeturnis-Development-Labs-LLC/qa-team

# Documentation
/docs/ @Aeturnis-Development-Labs-LLC/documentation
*.md @Aeturnis-Development-Labs-LLC/documentation

# UTF Contracts (CAFE methodology)
/contracts/ @Aeturnis-Development-Labs-LLC/architects

# CI/CD and GitHub configuration
/.github/ @Aeturnis-Development-Labs-LLC/devops
.pre-commit-config.yaml @Aeturnis-Development-Labs-LLC/devops

# Dependencies and configuration
requirements.txt @Aeturnis-Development-Labs-LLC/maintainers
pyproject.toml @Aeturnis-Development-Labs-LLC/maintainers
VERSION @Aeturnis-Development-Labs-LLC/maintainers

feat: implement Phase 2.5 Safe Haven & Special Locations
  CHANGELOG.md
  README.md
  VERSION
  src/__init__.py
  src/game/dungeon_properties.py
  src/game/escape_mechanics.py
  src/game/soul_system.py
  src/models/safe_haven.py
  tests/test_dungeon_properties.py
  tests/test_escape_mechanics.py
  tests/test_initialization.py
  tests/test_safe_haven.py
  tests/test_soul_system.py
Owners: @Aeturnis-Development-Labs-LLC/documentation, @Aeturnis-Development-Labs-LLC/maintainers, @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

feat: implement Phase 2.6 Color System with TDD approach
  src/renderers/ascii_renderer.py
  src/rendering/__init__.py
  src/rendering/accessibility.py
  src/rendering/color_effects.py
  src/rendering/color_scheme.py
  tests/test_accessibility.py
  tests/test_ascii_renderer_color.py
  tests/test_ascii_visualization.py
  tests/test_color_effects.py
  tests/test_color_scheme.py
Owners: @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

chore: update version to 0.10.0 for Phase 2.6
  CHANGELOG.md
  VERSION
  src/__init__.py
Owners: @Aeturnis-Development-Labs-LLC/documentation, @Aeturnis-Development-Labs-LLC/maintainers, @Aeturnis-Development-Labs-LLC/game-developers

fix: resolve CI failures for Phase 2.6
  src/renderers/ascii_renderer.py
  src/rendering/accessibility.py
  src/rendering/color_effects.py
  src/rendering/color_scheme.py
  tests/test_ascii_visualization.py
  tests/test_initialization.py
Owners: @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

fix: resolve isort and remaining MyPy issues
  src/renderers/ascii_renderer.py
  src/rendering/__init__.py
  src/rendering/accessibility.py
  src/rendering/color_effects.py
  src/rendering/color_scheme.py
  tests/test_ascii_renderer_color.py
  tests/test_color_effects.py
  tests/test_color_scheme.py
Owners: @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

fix: resolve final MyPy and isort issues
  src/rendering/accessibility.py
  src/rendering/color_scheme.py
  tests/test_accessibility.py
Owners: @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

fix: resolve final unreachable code in accessibility.py
  src/rendering/accessibility.py
Owners: @Aeturnis-Development-Labs-LLC/game-developers

refactor: implement KISS simplification phases 1 and 2
  archived/character.py
  archived/entity.py
  archived/movement.py
  archived/premature_features/soul_system.py
  archived/premature_features/test_soul_system.py
  archived/rendering/__init__.py
  archived/rendering/accessibility.py
  archived/rendering/color_effects.py
  archived/rendering/color_scheme.py
  archived/stamina_system.py
  archived/test_accessibility.py
  archived/test_ascii_renderer_color.py
  archived/test_color_effects.py
  archived/test_color_scheme.py
  archived/test_entity.py
  archived/world_map_renderer.py
  src/colors.py
  src/game/movement_simple.py
  src/game/stamina_simple.py
  src/models/__init__.py
  src/models/floor.py
  src/renderers/ascii_renderer.py
  src/renderers/world_map_renderer_simple.py
  tests/test_movement.py
  tests/test_stamina.py
  tests/test_tile.py
  tests/test_world_map_renderer.py
Owners: @Aeturnis-Development-Labs-LLC/maintainers, @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

chore: bump version to 0.11.0 for KISS refactor
  CHANGELOG.md
  VERSION
Owners: @Aeturnis-Development-Labs-LLC/documentation, @Aeturnis-Development-Labs-LLC/maintainers

fix: update remaining version references to 0.11.0
  src/__init__.py
  tests/test_initialization.py
Owners: @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

fix: improve test coverage to 93% by removing unused files and adding color tests
  src/game/movement_simple.py
  src/game/stamina_simple.py
  src/renderers/world_map_renderer_simple.py
  tests/test_colors.py
Owners: @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

docs: add PROJECT_CAPSULE.md to ascendant directory
  PROJECT_CAPSULE.md
Owners: @Aeturnis-Development-Labs-LLC/documentation

style: apply Black formatting to pass CI checks
  src/colors.py
  src/game/movement.py
  src/game/stamina_system.py
  src/models/character.py
  src/renderers/ascii_renderer.py
  src/renderers/world_map_renderer.py
  tests/test_colors.py
  tests/test_stamina.py
  tests/test_tile.py
  tests/test_world_map_renderer.py
Owners: @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

fix: resolve isort and mypy CI errors
  src/colors.py
  src/game/movement.py
  src/renderers/ascii_renderer.py
  tests/test_colors.py
  tests/test_movement.py
  tests/test_stamina.py
Owners: @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

style: fix Black formatting in colors.py
  src/colors.py
Owners: @Aeturnis-Development-Labs-LLC/game-developers

fix: resolve flake8 F401 and F841 errors
  src/colors.py
  src/renderers/ascii_renderer.py
  tests/test_colors.py
  tests/test_stamina.py
Owners: @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

fix: resolve remaining flake8 SIM116 and D107 errors
  .flake8
  src/colors.py
  tests/test_tile.py
Owners: @Aeturnis-Development-Labs-LLC/maintainers, @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

fix: resolve flake8 D104 and D401 docstring errors
  src/__init__.py
  src/__main__.py
  src/renderers/ascii_renderer.py
  tests/__init__.py
Owners: @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

fix: increase rendering performance test threshold for CI
  tests/test_ascii_visualization.py
Owners: @Aeturnis-Development-Labs-LLC/qa-team

feat: implement PyQt6 window setup (Phase 3.1)
  client/__init__.py
  client/app.py
  client/main_window.py
  client/test_window.py
  contracts/GAME-UI-001.yaml
  contracts/GAME-UI-004.yaml
  requirements.txt
  src/__main__.py
  tests/test_initialization.py
  tests/test_main_window.py
Owners: @Aeturnis-Development-Labs-LLC/maintainers, @Aeturnis-Development-Labs-LLC/architects, @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

chore: bump version to 0.12.0 for PyQt6 client
  CHANGELOG.md
  VERSION
  client/main_window.py
  client/test_window.py
  src/__init__.py
  tests/test_initialization.py
  tests/test_main_window.py
Owners: @Aeturnis-Development-Labs-LLC/documentation, @Aeturnis-Development-Labs-LLC/maintainers, @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

fix: resolve Black formatting and mypy type errors
  client/main_window.py
  src/__main__.py
  tests/test_main_window.py
Owners: @Aeturnis-Development-Labs-LLC/maintainers, @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

fix: resolve isort import sorting errors
  client/test_window.py
  tests/test_main_window.py
Owners: @Aeturnis-Development-Labs-LLC/maintainers, @Aeturnis-Development-Labs-LLC/qa-team

fix: remove unused QTest import
  tests/test_main_window.py
Owners: @Aeturnis-Development-Labs-LLC/qa-team

fix: resolve flake8 formatting issues in PyQt files
  client/main_window.py
  tests/test_main_window.py
Owners: @Aeturnis-Development-Labs-LLC/maintainers, @Aeturnis-Development-Labs-LLC/qa-team

fix: apply black formatting with line-length=100
  tests/test_main_window.py
Owners: @Aeturnis-Development-Labs-LLC/qa-team

fix: update CI to run console mode without PyQt6
  .github/workflows/ci.yml
Owners: @Aeturnis-Development-Labs-LLC/devops

feat: implement map display widget (Phase 3.2)
  CHANGELOG.md
  VERSION
  client/main_window.py
  client/test_map_widget.py
  client/widgets/__init__.py
  client/widgets/map_widget.py
  contracts/GAME-UI-002.yaml
  src/__init__.py
  tests/test_initialization.py
  tests/test_main_window.py
  tests/test_map_widget.py
Owners: @Aeturnis-Development-Labs-LLC/documentation, @Aeturnis-Development-Labs-LLC/maintainers, @Aeturnis-Development-Labs-LLC/architects, @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

feat: Add zoom functionality and mini-map overlay to MapWidget
  AUDIT_REPORT_PHASE_3.2.md
  client/__init__.py
  client/app.py
  client/main_window.py
  client/test_map_widget.py
  client/test_window.py
  client/widgets/map_widget.py
  src/__init__.py
  tests/test_map_widget.py
Owners: @Aeturnis-Development-Labs-LLC/documentation, @Aeturnis-Development-Labs-LLC/maintainers, @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

chore: Update version to 0.13.1 and add demo scripts
  CHANGELOG.md
  VERSION
  client/integrated_client_fixed.py
  client/main_window.py
  client/test_full_demo.py
  client/test_interactive.py
  client/widgets/map_widget.py
  tests/test_initialization.py
Owners: @Aeturnis-Development-Labs-LLC/documentation, @Aeturnis-Development-Labs-LLC/maintainers, @Aeturnis-Development-Labs-LLC/qa-team

feat: implement information panels (Phase 3.3)
  VERSION
  client/demo_panels.py
  client/main_window.py
  client/widgets/__init__.py
  client/widgets/character_panel.py
  client/widgets/info_panel.py
  client/widgets/map_widget.py
  client/widgets/status_bar.py
  src/__init__.py
  tests/test_character_panel.py
  tests/test_info_panel.py
  tests/test_status_bar.py
Owners: @Aeturnis-Development-Labs-LLC/maintainers, @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

fix: update test expectations and changelog for v0.14.0
  CHANGELOG.md
  tests/test_initialization.py
Owners: @Aeturnis-Development-Labs-LLC/documentation, @Aeturnis-Development-Labs-LLC/qa-team

fix: resolve CI/CD issues for Phase 3.3
  client/main_window.py
  client/widgets/info_panel.py
  tests/test_character_panel.py
  tests/test_info_panel.py
  tests/test_status_bar.py
Owners: @Aeturnis-Development-Labs-LLC/maintainers, @Aeturnis-Development-Labs-LLC/qa-team

fix: correct import sorting in test_status_bar.py
  tests/test_status_bar.py
Owners: @Aeturnis-Development-Labs-LLC/qa-team

fix: remove unused imports from test files
  tests/test_character_panel.py
  tests/test_info_panel.py
  tests/test_status_bar.py
Owners: @Aeturnis-Development-Labs-LLC/qa-team

fix: remove unused MagicMock import
  tests/test_character_panel.py
Owners: @Aeturnis-Development-Labs-LLC/qa-team

feat: implement Phase 4.1 Monster System
  AUDIT_REPORT_PHASE_3.2.md
  CHANGELOG.md
  PROJECT_CAPSULE.md
  VERSION
  docs/FUTURE_ENHANCEMENTS.md
  docs/methodology/COMPLEXITY_IRONY_ANALYSIS.md
  docs/methodology/OCCAM_KISS_UTF_DISCUSSION.md
  src/__init__.py
  src/game/monster_spawner.py
  src/models/character.py
  src/models/entity.py
  src/models/floor.py
  src/models/monster.py
  src/models/trap.py
  tests/test_monster.py
  tests/test_monster_spawner.py
  tests/test_trap.py
Owners: @Aeturnis-Development-Labs-LLC/documentation, @Aeturnis-Development-Labs-LLC/maintainers, @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

fix: CI/CD issues - black formatting and version test
  src/game/monster_spawner.py
  src/models/floor.py
  src/models/trap.py
  tests/test_initialization.py
Owners: @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

fix: import sorting with isort for CI/CD compliance
  src/game/monster_spawner.py
  src/models/character.py
  src/models/trap.py
  tests/test_monster.py
  tests/test_monster_spawner.py
  tests/test_trap.py
Owners: @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

fix: remove unused imports for flake8 compliance
  tests/test_monster.py
  tests/test_monster_spawner.py
  tests/test_trap.py
Owners: @Aeturnis-Development-Labs-LLC/qa-team
