Repository Aeturnis-Development-Labs-LLC/ascendant, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Aeturnis-Development-Labs-LLC/maintainers, @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team, @Aeturnis-Development-Labs-LLC/documentation, @Aeturnis-Development-Labs-LLC/architects, @Aeturnis-Development-Labs-LLC/devops

.github/CODEOWNERS:

# CODEOWNERS for Ascendant: The Eternal Spire
# This file defines who is responsible for code reviews in different parts of the project

# Default owners for everything in the repo
* @Aeturnis-Development-Labs-LLC/maintainers

# Game source code
/src/ @Aeturnis-Development-Labs-LLC/game-developers

# Tests and quality assurance
/tests/ @Aeturnis-Development-Labs-LLC/qa-team

# Documentation
/docs/ @Aeturnis-Development-Labs-LLC/documentation
*.md @Aeturnis-Development-Labs-LLC/documentation

# UTF Contracts (CAFE methodology)
/contracts/ @Aeturnis-Development-Labs-LLC/architects

# CI/CD and GitHub configuration
/.github/ @Aeturnis-Development-Labs-LLC/devops
.pre-commit-config.yaml @Aeturnis-Development-Labs-LLC/devops

# Dependencies and configuration
requirements.txt @Aeturnis-Development-Labs-LLC/maintainers
pyproject.toml @Aeturnis-Development-Labs-LLC/maintainers
VERSION @Aeturnis-Development-Labs-LLC/maintainers

fix: final black formatting adjustment
  tests/test_monster_spawner.py
Owners: @Aeturnis-Development-Labs-LLC/qa-team

ci: add auto-format workflow for PRs
  .github/workflows/auto-format.yml
Owners: @Aeturnis-Development-Labs-LLC/devops

feat: implement Phase 4.2 Combat System
  CHANGELOG.md
  README.md
  VERSION
  src/__init__.py
  src/game/__init__.py
  src/game/combat_log.py
  src/game/combat_system.py
  src/game/death_handler.py
  src/game/loot_system.py
  src/game/trap_handler.py
  src/models/character.py
  tests/test_combat_log.py
  tests/test_combat_system.py
  tests/test_death_handler.py
  tests/test_trap_handler.py
Owners: @Aeturnis-Development-Labs-LLC/documentation, @Aeturnis-Development-Labs-LLC/maintainers, @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

fix: update version test to expect 0.16.0
  tests/test_initialization.py
Owners: @Aeturnis-Development-Labs-LLC/qa-team

feat: Implement Phase 4.3 Player Combat Integration
  src/game/default_abilities.py
  src/models/ability.py
  src/models/character.py
  tests/test_ability.py
  tests/test_player_combat.py
  tests/test_player_combat_integration.py
Owners: @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

feat: Improve dungeon generation and UI consistency
  client/ui_accessor.py
  docs/ui_widget_interface.md
  src/game/game_state.py
  src/models/floor.py
  tests/test_floor.py
  tests/test_widget_interfaces.py
Owners: @Aeturnis-Development-Labs-LLC/maintainers, @Aeturnis-Development-Labs-LLC/documentation, @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

chore: update version to 0.17.0 for Phase 4.3 completion
  CHANGELOG.md
  README.md
  VERSION
  src/__init__.py
Owners: @Aeturnis-Development-Labs-LLC/documentation, @Aeturnis-Development-Labs-LLC/maintainers, @Aeturnis-Development-Labs-LLC/game-developers

fix: implement Priority 1 CAFE compliance fixes
  cafe_compliance_fixes.md
  src/enums.py
  src/models/character.py
  src/models/item.py
  src/models/tile.py
Owners: @Aeturnis-Development-Labs-LLC/documentation, @Aeturnis-Development-Labs-LLC/game-developers

fix: implement Priority 2 CAFE compliance fixes
  cafe_compliance_fixes.md
  src/enums.py
  src/game/monster_spawner.py
  src/models/__init__.py
  src/models/floor.py
  src/models/monster.py
Owners: @Aeturnis-Development-Labs-LLC/documentation, @Aeturnis-Development-Labs-LLC/game-developers

fix: Complete CAFE compliance - achieve 100% pass rate
  cafe_compliance_fixes.md
  src/game/combat_system.py
  src/game/default_abilities.py
  src/game/movement.py
  src/game/stamina_system.py
  src/models/character.py
  src/models/safe_haven.py
  src/models/world_map.py
Owners: @Aeturnis-Development-Labs-LLC/documentation, @Aeturnis-Development-Labs-LLC/game-developers

fix: Black formatting and MyPy type errors
  src/enums.py
  src/game/combat_system.py
  src/game/game_state.py
  src/game/movement.py
  src/game/stamina_system.py
  src/models/character.py
  src/models/floor.py
  src/models/world_map.py
  tests/test_floor.py
  tests/test_player_combat_integration.py
  tests/test_widget_interfaces.py
Owners: @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

fix: isort import formatting and version test
  src/game/monster_spawner.py
  src/models/__init__.py
  src/models/world_map.py
  tests/test_initialization.py
  tests/test_widget_interfaces.py
Owners: @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

fix: flake8 linting issues
  src/__init__.py
  src/game/combat_system.py
  src/game/game_state.py
  src/models/ability.py
  src/models/floor.py
  tests/test_environmental_hazards.py
  tests/test_floor.py
  tests/test_player_combat_integration.py
  tests/test_widget_interfaces.py
  tests/test_world_map.py
Owners: @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

fix: test failures for enums and movement
  tests/test_enums.py
  tests/test_locations.py
  tests/test_monster_spawner.py
  tests/test_movement.py
Owners: @Aeturnis-Development-Labs-LLC/qa-team

test: improve test coverage and fix CI failures
  tests/test_ascii_renderer_coverage.py
  tests/test_coverage_improvement.py
  tests/test_final_coverage.py
  tests/test_game_state.py
Owners: @Aeturnis-Development-Labs-LLC/qa-team

fix: CAFE compliance and test coverage improvements
  CHANGELOG.md
  docs/methodology/COMPLEXITY_IRONY_ANALYSIS.md
  docs/methodology/OCCAM_KISS_UTF_DISCUSSION.md
  src/__init__.py
  src/enums.py
  src/game/death_handler.py
  src/game/loot_system.py
  src/game/trap_handler.py
  src/models/character.py
  src/models/entity.py
  src/models/floor.py
  src/models/tile.py
  tests/test_ascii_visualization.py
  tests/test_coverage_improvement.py
  tests/test_loot_generation.py
  tests/test_map_widget.py
  tests/test_room_connection.py
  tests/test_tile.py
Owners: @Aeturnis-Development-Labs-LLC/documentation, @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

fix: CI issues - formatting, version test, and PyQt6 imports
  src/models/floor.py
  tests/test_ascii_visualization.py
  tests/test_coverage_improvement.py
  tests/test_initialization.py
  tests/test_loot_generation.py
  tests/test_widget_interfaces.py
Owners: @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

fix: update VERSION file and black formatting
  VERSION
  tests/test_widget_interfaces.py
Owners: @Aeturnis-Development-Labs-LLC/maintainers, @Aeturnis-Development-Labs-LLC/qa-team

fix: CI test and linting issues
  src/models/character.py
  src/models/entity.py
  tests/test_ascii_renderer_coverage.py
  tests/test_coverage_improvement.py
  tests/test_final_coverage.py
  tests/test_game_state.py
  tests/test_player_combat_integration.py
Owners: @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

test: add TYPE_CHECKING coverage test to reach 90% threshold
  tests/test_type_checking_coverage.py
Owners: @Aeturnis-Development-Labs-LLC/qa-team

style: apply Black formatting to test_type_checking_coverage.py
  tests/test_type_checking_coverage.py
Owners: @Aeturnis-Development-Labs-LLC/qa-team

fix: resolve remaining linting issues
  tests/test_loot_generation.py
  tests/test_type_checking_coverage.py
Owners: @Aeturnis-Development-Labs-LLC/qa-team

restore: bring back game design catalog files from main
  game_design/IMPLEMENTATION_PROMPTS_CATALOG.md
  game_design/UTF_CATALOG_FINAL.md
Owners: @Aeturnis-Development-Labs-LLC/documentation
