Repository Aeturnis-Development-Labs-LLC/ascendant, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Aeturnis-Development-Labs-LLC/maintainers, @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team, @Aeturnis-Development-Labs-LLC/documentation, @Aeturnis-Development-Labs-LLC/architects, @Aeturnis-Development-Labs-LLC/devops

fix: resolve CI/CD issues
  .pre-commit-config.yaml
  scripts/setup_dev_environment.py
  setup.py
  src/__main__.py
  tests/test_initialization.py
  tests/test_versioning.py
Owners: @Aeturnis-Development-Labs-LLC/devops, @Aeturnis-Development-Labs-LLC/maintainers, @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

fix: ensure all files end with newline and have consistent line endings
  .editorconfig
  .flake8
  .gitignore
  CHANGELOG.md
  Makefile
  VERSION
  assets/.gitkeep
  contracts/GAME-CORE-001.yaml
  docs/.gitkeep
  docs/DEVELOPMENT.md
  docs/VERSIONING.md
  pyproject.toml
  requirements.txt
Owners: @Aeturnis-Development-Labs-LLC/maintainers, @Aeturnis-Development-Labs-LLC/documentation, @Aeturnis-Development-Labs-LLC/architects

feat: implement Phase 0.2 - Core Data Structures
  .pre-commit-config.yaml
  CHANGELOG.md
  VERSION
  contracts/GAME-CORE-002.yaml
  contracts/GAME-CORE-003.yaml
  contracts/GAME-CORE-004.yaml
  contracts/GAME-CORE-005.yaml
  src/enums.py
  src/models/__init__.py
  src/models/entity.py
  src/models/item.py
  src/models/tile.py
  tests/test_entity.py
  tests/test_enums.py
  tests/test_item.py
  tests/test_tile.py
Owners: @Aeturnis-Development-Labs-LLC/devops, @Aeturnis-Development-Labs-LLC/documentation, @Aeturnis-Development-Labs-LLC/maintainers, @Aeturnis-Development-Labs-LLC/architects, @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

fix: update version consistency to 0.2.0
  src/__init__.py
  tests/test_initialization.py
Owners: @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

chore: update .gitignore to exclude audit scripts and reports
  .gitignore
Owners: @Aeturnis-Development-Labs-LLC/maintainers

feat: implement basic floor generation (Phase 1.1)
  contracts/GAME-MAP-001.yaml
  contracts/GAME-MAP-002.yaml
  scripts/debug_floor.py
  scripts/show_floors.py
  scripts/visualize_floor.py
  scripts/visualize_floor_enhanced.py
  src/models/__init__.py
  src/models/floor.py
  tests/test_floor.py
Owners: @Aeturnis-Development-Labs-LLC/architects, @Aeturnis-Development-Labs-LLC/maintainers, @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

fix: sort imports in scripts to fix CI
  scripts/debug_floor.py
  scripts/show_floors.py
  scripts/visualize_floor.py
  scripts/visualize_floor_enhanced.py
Owners: @Aeturnis-Development-Labs-LLC/maintainers

chore: bump version to 0.3.0 for Phase 1.1 completion
  CHANGELOG.md
  README.md
  VERSION
  src/__init__.py
Owners: @Aeturnis-Development-Labs-LLC/documentation, @Aeturnis-Development-Labs-LLC/maintainers, @Aeturnis-Development-Labs-LLC/game-developers

feat: implement room connection algorithm (Phase 1.2)
  CHANGELOG.md
  README.md
  VERSION
  scripts/benchmark_floor_operations.py
  scripts/benchmark_large_floor.py
  scripts/debug_connected_floor.py
  src/__init__.py
  tests/test_initialization.py
  tests/test_room_connection.py
Owners: @Aeturnis-Development-Labs-LLC/documentation, @Aeturnis-Development-Labs-LLC/maintainers, @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

style: apply Black formatting to benchmark scripts
  scripts/benchmark_floor_operations.py
  scripts/benchmark_large_floor.py
Owners: @Aeturnis-Development-Labs-LLC/maintainers

ci: disable pre-commit and dependency review workflows
  .github/workflows/dependencies.yml.disabled
  .github/workflows/pre-commit.yml.disabled
Owners: @Aeturnis-Development-Labs-LLC/devops

Update pr.yml
  .github/workflows/pr.yml
Owners: @Aeturnis-Development-Labs-LLC/devops

chore: remove non-essential visualize_floor_enhanced.py script
  scripts/visualize_floor_enhanced.py
Owners: @Aeturnis-Development-Labs-LLC/maintainers

chore: ignore scripts folder - debug tools not needed for production
  .gitignore
  scripts/__init__.py
  scripts/benchmark_floor_operations.py
  scripts/benchmark_large_floor.py
  scripts/debug_connected_floor.py
  scripts/debug_floor.py
  scripts/setup_dev_environment.py
  scripts/show_floors.py
  scripts/visualize_floor.py
Owners: @Aeturnis-Development-Labs-LLC/maintainers

fix: remove scripts folder from CI checks
  .github/workflows/ci.yml
Owners: @Aeturnis-Development-Labs-LLC/devops

fix: remove scripts from CI checks in main branch
  .github/workflows/ci.yml
Owners: @Aeturnis-Development-Labs-LLC/devops

fix: resolve CI issues - docstring formatting, version test, remove pre-commit, ignore complexity
  .github/workflows/ci.yml
  requirements.txt
  tests/test_entity.py
  tests/test_initialization.py
Owners: @Aeturnis-Development-Labs-LLC/devops, @Aeturnis-Development-Labs-LLC/maintainers, @Aeturnis-Development-Labs-LLC/qa-team

Fix CI/CD issues: update version test, remove pre-commit, fix flake8 warnings
  .github/workflows/ci.yml
  requirements.txt
  scripts/benchmark_floor_operations.py
  scripts/benchmark_large_floor.py
  scripts/debug_connected_floor.py
  tests/test_entity.py
  tests/test_initialization.py
Owners: @Aeturnis-Development-Labs-LLC/devops, @Aeturnis-Development-Labs-LLC/maintainers, @Aeturnis-Development-Labs-LLC/qa-team

Fix black formatting: remove trailing whitespace in test_entity.py
  tests/test_entity.py
Owners: @Aeturnis-Development-Labs-LLC/qa-team

Fix black formatting: add blank line after docstring
  tests/test_entity.py
Owners: @Aeturnis-Development-Labs-LLC/qa-team

fix: add .gitattributes to enforce LF line endings for Python files
  .gitattributes
Owners: @Aeturnis-Development-Labs-LLC/maintainers

fix: remove blank line after docstring to satisfy flake8 D202
  tests/test_entity.py
Owners: @Aeturnis-Development-Labs-LLC/qa-team

fix: add D202 to test file ignores to resolve Black/flake8 conflict
  .flake8
Owners: @Aeturnis-Development-Labs-LLC/maintainers

fix: add blank line back for Black (D202 now ignored for tests)
  tests/test_entity.py
Owners: @Aeturnis-Development-Labs-LLC/qa-team

feat: implement ASCII visualization and map features (Phase 1.3)
  CHANGELOG.md
  README.md
  VERSION
  src/__init__.py
  src/enums.py
  src/models/floor.py
  src/renderers/__init__.py
  src/renderers/ascii_renderer.py
  tests/test_ascii_visualization.py
Owners: @Aeturnis-Development-Labs-LLC/documentation, @Aeturnis-Development-Labs-LLC/maintainers, @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

fix: resolve CI issues for Phase 1.3
  src/models/floor.py
  src/renderers/__init__.py
  src/renderers/ascii_renderer.py
  tests/test_ascii_visualization.py
  tests/test_enums.py
  tests/test_initialization.py
Owners: @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

fix: resolve flake8 issues
  tests/test_ascii_visualization.py
Owners: @Aeturnis-Development-Labs-LLC/qa-team

feat: implement basic movement system (Phase 2.1)
  CHANGELOG.md
  README.md
  VERSION
  src/__init__.py
  src/game/__init__.py
  src/game/movement.py
  src/input/__init__.py
  src/input/keyboard_handler.py
  src/models/character.py
  tests/test_movement.py
Owners: @Aeturnis-Development-Labs-LLC/documentation, @Aeturnis-Development-Labs-LLC/maintainers, @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

fix: black formatting and version test
  src/game/__init__.py
  src/game/movement.py
  src/input/__init__.py
  src/input/keyboard_handler.py
  src/models/character.py
  tests/test_initialization.py
  tests/test_movement.py
Owners: @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

fix: add isort formatting and improve pre-commit workflow
  codecov.yml
  pyproject.toml
  tests/test_movement.py
Owners: @Aeturnis-Development-Labs-LLC/maintainers, @Aeturnis-Development-Labs-LLC/qa-team

fix: resolve flake8 linting errors
  tests/test_movement.py
Owners: @Aeturnis-Development-Labs-LLC/qa-team

feat(movement): implement stamina system for action management
  CHANGELOG.md
  README.md
  VERSION
  src/__init__.py
  src/enums.py
  src/game/stamina_system.py
  src/models/character.py
  tests/test_movement.py
  tests/test_stamina.py
Owners: @Aeturnis-Development-Labs-LLC/documentation, @Aeturnis-Development-Labs-LLC/maintainers, @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

fix: update test to expect version 0.7.0
  tests/test_initialization.py
Owners: @Aeturnis-Development-Labs-LLC/qa-team

fix: make spell cost test deterministic to avoid flaky failures
  tests/test_stamina.py
Owners: @Aeturnis-Development-Labs-LLC/qa-team

style: apply Black formatting to test_stamina.py
  tests/test_stamina.py
Owners: @Aeturnis-Development-Labs-LLC/qa-team

Implement Phase 2.3: World Map System
  PHASE_2_3_AUDIT.md
  game_design/PHASE_2_3_AUDIT.md
  src/enums.py
  src/game/location_manager.py
  src/game/world_navigation.py
  src/models/location.py
  src/models/world_map.py
  tests/test_location_manager.py
  tests/test_locations.py
  tests/test_world_map.py
  tests/test_world_navigation.py
Owners: @Aeturnis-Development-Labs-LLC/documentation, @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

Fix mypy and black formatting issues
  .gitattributes
  PHASE_2_3_AUDIT.md
  codecov.yml
  contracts/GAME-MAP-001.yaml
  contracts/GAME-MAP-002.yaml
  game_design/PHASE_2_3_AUDIT.md
  scripts/benchmark_floor_operations.py
  scripts/benchmark_large_floor.py
  src/models/location.py
  tests/test_location_manager.py
  tests/test_locations.py
  tests/test_world_map.py
  tests/test_world_navigation.py
Owners: @Aeturnis-Development-Labs-LLC/maintainers, @Aeturnis-Development-Labs-LLC/documentation, @Aeturnis-Development-Labs-LLC/architects, @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

Fix flake8 issues
  tests/test_locations.py
  tests/test_world_map.py
  tests/test_world_navigation.py
Owners: @Aeturnis-Development-Labs-LLC/qa-team

feat: implement Phase 2.4 world map features and rename to client package
  CHANGELOG.md
  README.md
  VERSION
  setup.py
  src/__init__.py
  src/__main__.py
  src/game/environmental_hazards.py
  src/game/fast_travel.py
  src/game/location_actions.py
  src/game/random_encounters.py
  src/models/world_map.py
  src/renderers/world_map_renderer.py
  tests/test_environmental_hazards.py
  tests/test_fast_travel.py
  tests/test_fog_of_war.py
  tests/test_initialization.py
  tests/test_location_actions.py
  tests/test_random_encounters.py
  tests/test_world_map_renderer.py
Owners: @Aeturnis-Development-Labs-LLC/documentation, @Aeturnis-Development-Labs-LLC/maintainers, @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

fix: resolve linting issues caught by CI
  src/game/fast_travel.py
  src/renderers/world_map_renderer.py
  tests/test_fog_of_war.py
Owners: @Aeturnis-Development-Labs-LLC/game-developers, @Aeturnis-Development-Labs-LLC/qa-team

.github/CODEOWNERS:

# CODEOWNERS for Ascendant: The Eternal Spire
# This file defines who is responsible for code reviews in different parts of the project

# Default owners for everything in the repo
* @Aeturnis-Development-Labs-LLC/maintainers

# Game source code
/src/ @Aeturnis-Development-Labs-LLC/game-developers

# Tests and quality assurance
/tests/ @Aeturnis-Development-Labs-LLC/qa-team

# Documentation
/docs/ @Aeturnis-Development-Labs-LLC/documentation
*.md @Aeturnis-Development-Labs-LLC/documentation

# UTF Contracts (CAFE methodology)
/contracts/ @Aeturnis-Development-Labs-LLC/architects

# CI/CD and GitHub configuration
/.github/ @Aeturnis-Development-Labs-LLC/devops
.pre-commit-config.yaml @Aeturnis-Development-Labs-LLC/devops

# Dependencies and configuration
requirements.txt @Aeturnis-Development-Labs-LLC/maintainers
pyproject.toml @Aeturnis-Development-Labs-LLC/maintainers
VERSION @Aeturnis-Development-Labs-LLC/maintainers
